<div class="stop_session">
  <p id="stop"><%= link_to "Enough prep for now", profile_path, class:"btn btn-default" %></p>
</div>

<br><br>

<div class="question_box">
  <%= @question.title %>
</div>

<br>

<div class="question_navigation">
  <%= link_to "Next Question", questions_path, class:"next_question" %>
</div>

<br><br>

<div class="comments_box">
  <%= form_for(@user_question, url: user_questions_path) do |f| %>
    <%= f.label :comments, "Notes to self" %> <br>
    <%= f.text_area :comments, class:"comment_text"%> <br>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.submit "Save" %>
  <% end %>
</div>


<!--
<div id="timer">
</div> -->
