<h1>Create an account so you can track how your preparations are going! </h1>

<div class="menu_registration_container">
    <%= form_for(@user) do |f| %>
      <%= f.text_field :name, placeholder: "Name" %> <br>

      <%= f.text_field :email, placeholder: "E-mail" %> <br>

      <%= f.text_field :username, placeholder: "Set a username" %> <br>

      <%= f.password_field :password, placeholder: "Set a password" %> <br>

      <%= f.submit "Create Login" %> </li>
    <% end %>
</div>
