<div class="navigation-container">
  <nav class="navigation mdl-navigation">
    <% if current_user %>
        <% if current_user.role == "admin" %>
          <%= link_to "Home", admin_questions_path, class: "mdl-navigation__link mdl-typography--text-uppercase", id: "nav-link"%>     <br><br>
        <% else %>
          <%= link_to "Home", profile_path, class: "mdl-navigation__link mdl-typography--text-uppercase", id: "nav-link"%>
        <% end %>

      <%= link_to "Logout", logout_path, method: :delete, class: "mdl-navigation__link mdl-typography--text-uppercase", id: "nav-link" %>
    <% else %>
      <%= link_to "Home", root_path, class: "mdl-navigation__link mdl-typography--text-uppercase", id: "nav-link"%>
      <%= link_to "Login", login_path, class: "mdl-navigation__link mdl-typography--text-uppercase", id: "nav-link"%>
    <% end %>
  </nav>
</div>
